In [1]:
import pandas as pd

In [2]:
b= pd.read_csv('bookings.sample.csv.bz2',sep='^')

In [3]:
b.sample(10)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
4462,2013-03-04 00:00:00,1A,SG,85abc3d419f221b4f74193fcf072c962,2e4e119df3ea51f6d09cf02d231d81d7,e6e1444116200876c9d7854d4cec8824,2013-02-25 00:00:00,6408,0,SIN,...,KULSIN,DB,E,Y,2013-03-30 18:15:00,2013-03-30 19:23:59,1,2013,3,SING42100
8551,2013-03-29 00:00:00,1V,JP,03c25bf5203a64c7f1da0c9178edcb5d,95affbff08e31c4dbbb4689f4463febc,e19d2bedd36e480950d4379e97380dc6,2013-03-28 00:00:00,9089,0,NRT,...,LGKKULNRT,TV,M,Y,2013-04-21 21:40:00,2013-04-22 18:59:34,-2,2013,3,NULL
3674,2013-03-11 00:00:00,1V,US,343c4f959dfc9794aa26502729ae00d4,f4a09aa11fd21a774930af31fd902939,4c9b8334598ec4c307eeea4eef1bdc89,2013-03-11 00:00:00,4673,0,SDF,...,SDFMSPGFK,NV,U,Y,2013-04-01 07:23:00,2013-04-01 10:35:11,1,2013,3,NULL
8172,2013-03-27 00:00:00,1A,ES,5749f42cc294adaa3498e65317223c87,bdb8ca74f3c85aa3d5ef958e08c0cf89,28fc0e672b854814e483fb772a963bd1,2013-03-27 00:00:00,822,0,BCN,...,MADBCN,GJ,Z,C,2013-04-03 20:20:00,2013-04-03 21:42:03,1,2013,3,NULL
1342,2013-03-27 00:00:00,1A,AR,cd46dad4258646b921aef8ee90119fb3,d37ddfad7e87f2dd30588d58650e7b6d,14dbe8b8cb14ba1f61086a607801cd73,2013-03-27 00:00:00,35692,0,AEP,...,AEPGRUMAD,TT,G,Y,2013-08-12 15:05:00,2013-08-13 12:34:03,2,2013,3,NULL
8492,2013-03-28 00:00:00,1V,US,82088a25b9f0bdcfd799a5240b63adc0,29b62edd5e54d67ee34eaefdcce886d8,0da134ea866aa3b0562c2f4a7a5bc380,2013-03-28 00:00:00,2863,543,LAX,...,LASSFO,GI,Y,Y,2013-03-31 11:00:00,2013-03-31 12:34:54,1,2013,3,NULL
5061,2013-03-30 00:00:00,1A,SA,842133b5a2fec4e13e39e36be7985cd4,3c77757f589bc335bd3125cc3cdeb7db,972ec8f7b90043366a86e93244344ccf,2013-03-12 00:00:00,19986,0,RUH,...,LHREDI,LK,Y,Y,2013-04-07 11:40:00,2013-04-07 13:05:35,-1,2013,3,RUHAM3222
8811,2013-03-11 00:00:00,1A,IN,81ccdf2724be04f23f5515d0b1f342d6,cf818ddafad144a83967003057e64033,822305ff0083bdb1675bb8ab39a9bad2,2013-03-11 00:00:00,110,889,BLR,...,BLRNAG,DU,G,Y,2013-05-04 13:00:00,2013-05-04 14:50:43,1,2013,3,BOMVS35SC
46,2013-03-27 00:00:00,1A,PT,fe865f9d8c1f23eba1647744c5467378,a1d2d5359a55cc2617c9a86ae0b8a379,6ae8f9f359ed708b0758e53c7d1bbba4,2013-03-27 00:00:00,40674,0,ORY,...,LISORY,KS,V,Y,2013-06-02 18:15:00,2013-06-02 21:44:23,2,2013,3,NULL
3869,2013-03-12 00:00:00,1A,NG,3330e5ecf7550ad6e9cccd0a20bd3b4d,12ae8c2da52f86c59a0c1f66e35bc0d4,eed60e726a46064429b384148162582f,2013-03-12 00:00:00,34422,0,LOS,...,KULDOHLOS,BC,W,Y,2013-04-12 03:30:00,2013-04-12 12:37:36,1,2013,3,LOSN82224

In [10]:
#b_iter = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['off_time           ','dep_port','arr_port'], chunksize=1000000)
#forzamos a que sean todos los campos string con el dtype=str
#%%time
b_iter = pd.read_csv('bookings.csv.bz2', sep='^', chunksize=500000, low_memory=False, dtype=str)
bookings=pd.DataFrame()
for i, b_chunk in enumerate(b_iter):
    
    b=b_chunk.dropna()
    bookings = bookings.append(b)
    bookings.drop_duplicates(inplace=True)
    print((i+1)*500000, len(bookings))
bookings.to_csv('bookings_no_dup.csv', sep='^', index=False)
! bzip2 -f bookings_no_dup.csv

500000 500000
1000000 1000000
1500000 1000000
2000000 1000000
2500000 1000000
3000000 1000000
3500000 1000000
4000000 1000000
4500000 1000000
5000000 1000000
5500000 1000001
6000000 1000001
6500000 1000001
7000000 1000001
7500000 1000001
8000000 1000001
8500000 1000001
9000000 1000001
9500000 1000001
10000000 1000001
10500000 1000001

In [14]:
chunksize=500000
searches_iter = pd.read_csv('searches.csv.bz2', delimiter='^', low_memory=False, chunksize=chunksize, dtype=str)
searches = pd.DataFrame()

for i, chunk in enumerate(searches_iter):
    searches=searches.append(chunk)
    searches.drop_duplicates(inplace=True)
    print(i*chunksize, len(searches))
   
searches.to_csv('searches_no_dup.csv', sep='^', index=False)
! bzip2 -f searches_no_dup.csv

0 358999
500000 358999
1000000 359003
1500000 359003
2000000 359003
2500000 359003
3000000 359003
3500000 359003
4000000 359003
4500000 359003
5000000 359003
5500000 359003
6000000 359003
6500000 359003
7000000 359003
7500000 359003
8000000 359003
8500000 359003
9000000 359003
9500000 359003
10000000 359003
10500000 359003
11000000 359003
11500000 359003
12000000 359003
12500000 359003
13000000 359003
13500000 359003
14000000 359003
14500000 359003
15000000 359003
15500000 359003
16000000 359003
16500000 359003
17000000 359003
17500000 359003
18000000 359003
18500000 359003
19000000 359003
19500000 359003
20000000 359004

In [ ]:
Action plan
1. remove duplicates
2. read 3 columns from each file
3. remove white spaces from bookings dep/arr
4. remove duplicates from booking
5. save index from the file
6. create coluymn'booked' with 1 in booking table
7. merge on 3 columns
8. fill 'booked' of merged table with 0
9. merge with file data over index

In [16]:
b=pd.read_csv('bookings_no_dup.csv.bz2', sep='^', low_memory=False, nrows=1000)
b.columns.tolist()

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [94]:
import pandas as pd
pd.set_option('display.max_columns', None)
#s=pd.read_csv('searches_no_dup.csv.bz2', sep='^', low_memory=False, usecols=['Date', 'Origin', 'Destination'])
s=pd.read_csv('searches_no_dup.csv.bz2', sep='^', low_memory=False)
b=pd.read_csv('bookings_no_dup.csv.bz2', sep='^', low_memory=False, usecols=['cre_date           ', 'dep_port', 'arr_port'])

In [95]:
s.drop_duplicates(inplace=True)

In [96]:
b.drop_duplicates(inplace=True)

In [97]:
b=b.rename(columns=lambda x: x.strip())

In [98]:
b['arr_port']=b['arr_port'].str.strip()

In [99]:
b['dep_port']=b['dep_port'].str.strip()

In [100]:
b['datetime']=b.cre_date.str[0:10]

In [104]:
b=b.reset_index()

In [105]:
b['booked']=1

In [106]:
b.sample(10)

,level_0,index,cre_date,dep_port,arr_port,datetime,booked
237215,237215,707527,2013-11-27 00:00:00,RZE,WAW,2013-11-27,1
278767,278767,830309,2013-05-07 00:00:00,BZV,PNR,2013-05-07,1
198326,198326,590728,2013-08-01 00:00:00,EWR,BOS,2013-08-01,1
191073,191073,569277,2013-04-04 00:00:00,HRE,LAX,2013-04-04,1
19872,19872,55840,2013-05-13 00:00:00,NBO,MBA,2013-05-13,1
46669,46669,134748,2012-12-20 00:00:00,CPH,MXP,2012-12-20,1
152212,152212,462480,2013-06-02 00:00:00,MAD,LAX,2013-06-02,1
225176,225176,672265,2013-12-12 00:00:00,SVO,NBC,2013-12-12,1
147098,147098,448099,2013-06-29 00:00:00,BOG,SMR,2013-06-29,1
274951,274951,818789,2013-02-27 00:00:00,BOG,MAR,2013-02-27,1

In [107]:
s=s.reset_index()

In [108]:
s['Date']=s.Date.str[0:10]

In [109]:
s.sample(10)

,index,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
214586,214586,2013-08-03,18:59:07,MPT,b505896ae14ec1bd018d0dc018089272,RU,BQS,VVO,0.0,1.0,BQS,VVO,2013-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0
4005,4005,2013-01-05,02:13:43,FFP,f127c92cdab5a4eeb21dc606aaed24f6,ES,EAP,MAH,1.0,2.0,EAP,MAH,2013-08-19,7V,NaN,MAH,EAP,2013-09-01,7V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PMI
285368,285368,2013-10-13,20:03:31,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,PER,BER,0.0,1.0,PER,BER,2014-01-30,MK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0
26927,26927,2013-01-27,19:24:00,MPT,1aed5e3e24c27e27a9863fa275517643,US,ATW,LON,1.0,2.0,ATW,LON,2013-04-02,NaN,NaN,LON,ATW,2013-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LAX
294427,294427,2013-10-22,17:19:13,MPT,440642a9bdaeb6287f826cefd73255e8,US,SEA,LAS,1.0,2.0,SEA,LAS,2013-11-19,FK,NaN,LAS,SEA,2013-11-22,FK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0
77108,77108,2013-03-19,18:11:18,AFP,bd26b9a208fc759bc38dd74d6537417e,US,DEN,IQQ,1.0,2.0,DEN,IQQ,2013-05-08,NaN,NaN,IQQ,DEN,2013-05-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MIA
228878,228878,2013-08-17,08:07:14,MPT,d03a30f66f773a65aad66e7bafd1110f,GR,GOJ,LED,0.0,1.0,GOJ,LED,2013-09-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0
119587,119587,2013-04-30,17:56:01,FFP,39964172ed1a0ec40ac97a44a68b8951,FR,NCE,PAR,1.0,2.0,NCE,PAR,2013-05-07,NaN,NaN,PAR,NCE,2013-05-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
341219,341219,2013-12-08,04:22:26,MPT,236cbf458f79dbb9d5e9c9430438c3db,US,LGA,LAS,1.0,2.0,LGA,LAS,2014-05-01,KD,NaN,LAS,LGA,2014-05-04,KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0
155195,155195,2013-06-05,20:41:18,MPT,3c9957fa4bf99f1c22f3eae347b9dcb3,US,WAS,NRT,0.0,2.0,WAS,NRT,2013-07-10,NaN,NaN,NRT,SFO,2013-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LAX

In [110]:
merged=s.merge(b, left_on=['Origin','Destination','Date'], right_on=['dep_port','arr_port', 'datetime'], how='left')

In [111]:
merged.sample(10)

,index_x,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,level_0,index_y,cre_date,dep_port,arr_port,datetime,booked
186749,186749,2013-07-06,22:26:01,MPT,8a920c89312c383c860f9faf2e693b84,IT,DUB,WRO,1.0,2.0,DUB,WRO,2013-12-06,NaN,NaN,WRO,DUB,2013-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325413,325413,2013-11-22,18:01:14,MPT,0bda63f1f542daa78264df28c95fbb6d,NL,CUN,MAD,1.0,2.0,CUN,MAD,2013-12-20,NaN,NaN,MAD,CUN,2013-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63677,63677,2013-03-05,19:03:29,MPC,440642a9bdaeb6287f826cefd73255e8,US,ORD,CDG,1.0,2.0,ORD,CDG,2013-07-12,NaN,NaN,CDG,ORD,2013-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124091,124091,2013-05-05,08:11:43,FQD,7535e98fef222b53446f51ea15b5f893,US,BRU,NYC,1.0,2.0,BRU,NYC,NaN,NaN,NaN,NYC,BRU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258989,258989,2013-09-16,07:26:28,XSP,d05c6543fc9518dac3f1b69b53acb4ba,GB,LGW,UVF,1.0,2.0,LGW,UVF,2014-06-23,NaN,NaN,UVF,LGW,2014-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336564,336564,2013-12-03,10:50:18,MPT,36a85b978f31b29989eea465daf879c1,RU,PEE,DXB,1.0,2.0,PEE,DXB,2014-01-01,NaN,NaN,DXB,PEE,2014-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324334,324334,2013-11-21,07:01:47,MPT,107e109473aa675e5cd778faba10cc00,US,SEA,TLV,1.0,2.0,SEA,TLV,2013-12-15,FK,NaN,TLV,SEA,2014-01-04,FK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0,170674.0,512913.0,2013-11-21 00:00:00,SEA,TLV,2013-11-21,1.0
47689,47689,2013-02-17,17:52:33,FCP,3565e31495ecfd46fa018339d20382b1,SA,RUH,AHB,0.0,1.0,RUH,AHB,2013-02-23,KP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,JED,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271894,271894,2013-09-29,18:37:00,CAL,1fa750c3110cca7c896229d02117bf8e,RU,LED,KUF,0.0,1.0,LED,KUF,2013-10-08,PG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341463,341463,2013-12-08,11:27:26,MPT,8a920c89312c383c860f9faf2e693b84,IT,BHX,PAR,1.0,2.0,BHX,PAR,2014-02-13,NaN,NaN,PAR,BHX,2014-02-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
len(merged)

359004

In [113]:
merged.head()

,index_x,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,level_0,index_y,cre_date,dep_port,arr_port,datetime,booked
0,0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1.0,2.0,TXL,AUH,2013-01-26,D2,NaN,AUH,TXL,2013-02-02,D2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0.0,1.0,ATH,MIL,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1.0,2.0,ICT,SFO,2013-08-02,NaN,NaN,SFO,ICT,2013-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0.0,1.0,RNB,ARN,2013-01-02,DU,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1.0,2.0,OSL,MAD,2013-03-22,NaN,NaN,MAD,OSL,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
merged.drop(['dep_port','arr_port', 'datetime'], axis=1, inplace=True)

In [115]:
merged[merged['booked']>0].head()#vemos que hay algunos con 1

,index_x,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,level_0,index_y,cre_date,booked
27,27,2013-01-01,18:33:28,CCP,3565e31495ecfd46fa018339d20382b1,SA,RUH,JED,0.0,1.0,RUH,JED,2013-01-04,KP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,JED,32465.0,92402.0,2013-01-01 00:00:00,1.0
40,40,2013-01-01,06:36:57,FFP,86f167b84e77346849f9439ae87c02a6,SA,DMM,MNL,1.0,2.0,DMM,MNL,2013-06-01,OJ,NaN,MNL,DMM,2013-06-30,OJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,JED,70214.0,206121.0,2013-01-01 00:00:00,1.0
59,59,2013-01-01,07:00:38,FQD,e8741eaf2fa2f71f931475d18fa72096,US,ATL,MIA,0.0,1.0,ATL,MIA,2013-01-10,NV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SEA,5011.0,13794.0,2013-01-01 00:00:00,1.0
134,134,2013-01-01,23:30:44,MPT,5215502d9524c3183f3839b0d9a5e4f9,AU,MEL,SYD,0.0,1.0,MEL,SYD,2013-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SYD,5134.0,14148.0,2013-01-01 00:00:00,1.0
172,172,2013-01-01,18:34:27,MPT,fd4afff0035bec8f8e305d38804c33f6,IN,BOM,JED,1.0,2.0,BOM,JED,2013-01-26,NaN,NaN,JED,BOM,2013-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,DEL,5603.0,15422.0,2013-01-01 00:00:00,1.0

In [116]:
merged['booked']=merged['booked'].fillna(0)

In [117]:
merged=merged.astype({"booked":int})

In [118]:
merged.head()

,index_x,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,level_0,index_y,cre_date,booked
0,0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1.0,2.0,TXL,AUH,2013-01-26,D2,NaN,AUH,TXL,2013-02-02,D2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA,NaN,NaN,NaN,0
1,1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0.0,1.0,ATH,MIL,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV,NaN,NaN,NaN,0
2,2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1.0,2.0,ICT,SFO,2013-08-02,NaN,NaN,SFO,ICT,2013-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC,NaN,NaN,NaN,0
3,3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0.0,1.0,RNB,ARN,2013-01-02,DU,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO,NaN,NaN,NaN,0
4,4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1.0,2.0,OSL,MAD,2013-03-22,NaN,NaN,MAD,OSL,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL,NaN,NaN,NaN,0

In [119]:
merged.to_csv('merged.csv', sep='^', index=False)

In [121]:
new=pd.read_csv('merged.csv', sep='^', low_memory=False)

In [122]:
new.head()

,index_x,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice,level_0,index_y,cre_date,booked
0,0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1.0,2.0,TXL,AUH,2013-01-26,D2,NaN,AUH,TXL,2013-02-02,D2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA,NaN,NaN,NaN,0
1,1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0.0,1.0,ATH,MIL,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV,NaN,NaN,NaN,0
2,2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1.0,2.0,ICT,SFO,2013-08-02,NaN,NaN,SFO,ICT,2013-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC,NaN,NaN,NaN,0
3,3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0.0,1.0,RNB,ARN,2013-01-02,DU,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO,NaN,NaN,NaN,0
4,4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1.0,2.0,OSL,MAD,2013-03-22,NaN,NaN,MAD,OSL,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL,NaN,NaN,NaN,0

In [123]:
len(new)

359004