In [1]:
pwd

'/Users/elenatajadura/dev/git/master-data-science/amadeus_challege'

In [2]:
! bzcat bookings.csv.bz2 | head -10000 > bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = bookings.csv.bz2, output file = (stdout)

In [3]:
ls

10-11_Python_AmadChall_v18 (1).pptx  bookings.sample.csv.bz2
Untitled.ipynb                       searches.csv.bz2
bookings.csv.bz2                     searches.sample.csv.bz2
bookings.sample.csv

In [4]:
! bzip2 -f ./bookings.sample.csv

In [5]:
ls -la

total 2068976
drwxr-xr-x   9 elenatajadura  staff        288 30 nov 09:25 ./
drwxr-xr-x  11 elenatajadura  staff        352 30 nov 08:51 ../
drwxr-xr-x   3 elenatajadura  staff         96 30 nov 08:54 .ipynb_checkpoints/
-rw-r--r--@  1 elenatajadura  staff     173167 30 nov 08:06 10-11_Python_AmadChall_v18 (1).pptx
-rw-r--r--   1 elenatajadura  staff       7941 30 nov 09:24 Untitled.ipynb
-rw-r--r--@  1 elenatajadura  staff  554970628 30 nov 08:52 bookings.csv.bz2
-rw-r--r--   1 elenatajadura  staff     535893 30 nov 09:25 bookings.sample.csv.bz2
-rw-r--r--@  1 elenatajadura  staff  483188920 30 nov 08:51 searches.csv.bz2
-rw-r--r--   1 elenatajadura  staff     244720 30 nov 09:19 searches.sample.csv.bz2

In [6]:
%%bash
bzcat searches.csv.bz2 | head -10000 > searches.sample.csv
bzip2 -f ./searches.sample.csv

In [7]:
ls -la

total 2068976
drwxr-xr-x   9 elenatajadura  staff        288 30 nov 09:25 ./
drwxr-xr-x  11 elenatajadura  staff        352 30 nov 08:51 ../
drwxr-xr-x   3 elenatajadura  staff         96 30 nov 08:54 .ipynb_checkpoints/
-rw-r--r--@  1 elenatajadura  staff     173167 30 nov 08:06 10-11_Python_AmadChall_v18 (1).pptx
-rw-r--r--   1 elenatajadura  staff       7941 30 nov 09:24 Untitled.ipynb
-rw-r--r--@  1 elenatajadura  staff  554970628 30 nov 08:52 bookings.csv.bz2
-rw-r--r--   1 elenatajadura  staff     535893 30 nov 09:25 bookings.sample.csv.bz2
-rw-r--r--@  1 elenatajadura  staff  483188920 30 nov 08:51 searches.csv.bz2
-rw-r--r--   1 elenatajadura  staff     244720 30 nov 09:25 searches.sample.csv.bz2

In [8]:
! bzcat searches.sample.csv.bz2 | wc -l

   10000

In [ ]:
! bzcat searches.csv.bz2 | wc -l

In [10]:
#Tamnbien se puede ver el numero de lineas con python
import bz2

In [11]:
filename='./bookings.sample.csv.bz2'

In [13]:
fileBz2=bz2.BZ2File(filename)
type(fileBz2)

bz2.BZ2File

In [14]:
bz2.BZ2File

bz2.BZ2File

In [16]:
len(fileBz2.readlines())

10000

In [17]:
%whos

Variable   Type       Data/Info
-------------------------------
bz2        module     <module 'bz2' from '/User<...>a3/lib/python3.7/bz2.py'>
fileBz2    BZ2File    <bz2.BZ2File object at 0x7faa5a05acd0>
filename   str        ./bookings.sample.csv.bz2

In [19]:
#podemos cerrzar el fichero despues de leerlo
fileBz2.close()

In [20]:
fileBz2.closed

True

In [21]:
#con la siguiente forma se abre y cierra automaticamente el fichero y no necesitamos cerrarlo a mano
with bz2.BZ2File(filename) as fileBz2:
    k=0
    for line in fileBz2:
        k+=1
print(k)
fileBz2.closed

10000

True

In [22]:
#Otra forma es esta aunque esta quita el header proque detecta que no son valores
with bz2.BZ2File(filename) as fileBz2:
    k=0
    for k, line in enumerate(fileBz2):
        pass
print(k)
fileBz2.closed

9999

True

In [23]:
#con una list comprehension
with bz2.BZ2File(filename) as fileBz2:
    k=sum([1 for line in fileBz2])
    
print(k)
fileBz2.closed

10000

True

In [27]:
#Otra forma es esta aunque esta quita el header proque detecta que no son valores
try:
    with bz2.BZ2File(filename) as fileBz2:
        for k, line in enumerate(fileBz2):
            pass
        print(k+1)
except:
    print("unexpected error")
fileBz2.closed

10000

True

In [29]:
#para tratar excepciones en python:
filename='./hkkjgk'
try:
    with bz2.BZ2File(filename) as fileBz2:
        for k, line in enumerate(fileBz2):
            pass
        print(k+1)
except FileNotFoundError:
    print('File not found')
except ValueError:
    print('Value error')
except:
    print("unexpected error")
fileBz2.closed

File not found

True

# Exercise 2

## 0) Prepare booking Sample (we might need this for later)

In [30]:
pwd

'/Users/elenatajadura/dev/git/master-data-science/amadeus_challege'

In [31]:
import pandas as pd

In [ ]:
#Don`t do this because the file is too long
#b= pd.read_csv('bookings.csv.bz2',sep='^')

In [35]:
b= pd.read_csv('bookings.csv.bz2',sep='^', nrows=9999)

In [36]:
b.shape

(9999, 38)

In [37]:
#otra opcion
b= pd.read_csv('bookings.sample.csv.bz2',sep='^')

In [38]:
#para ver num de filas y columnas
b.shape

(9999, 38)

## Commands for obtaining info

In [41]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [40]:
#para poder ver todas las columnas
pd.set_option('display.max_columns', None)

In [42]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
7196,2013-03-27 00:00:00,1A,DE,dc69d5fe1e426149f3dd56d6b7ad05a1,2050baa63329eca6f782c7ab90ccf561,333d8006b3c060246e112611baed59e4,2013-03-27 00:00:00,7488,0,STR,STR,DE,PMI,PMI,ES,STR,STR,DE,STR,STR,DE,PMI,PMI,ES,PMISTR,PMISTR,DEES,1,STRPMI,KL,W,Y,2013-04-03 12:20:00,2013-04-03 14:28:23,2,2013,3,NULL
6142,2013-03-18 00:00:00,1G,NL,eb93d167ae132a6d7094f2a305724a42,8f3ef1041a50b8c7aaffac81c2c14887,218a6f20b85426823cd4092e7e74c309,2013-03-04 00:00:00,5741,0,AMS,AMS,NL,WUH,WUH,CN,AMS,AMS,NL,WUH,WUH,CN,DLC,DLC,CN,DLCWUH,DLCWUH,CNCN,0,WUHPVGDLC,WF,Y,Y,2013-03-21 08:00:00,2013-03-21 12:54:22,1,2013,3,NULL
2333,2013-03-25 00:00:00,1S,US,724ca60bea4f79479d3189a9ac8c56b3,189ccb3c15d055be3d98186b8cb3d11d,e0d61c982b3a02274c8b805b1c87ba8d,2013-03-22 00:00:00,11152,0,JFK,NYC,US,PEK,BJS,CN,JFK,NYC,US,JFK,NYC,US,PEK,BJS,CN,JFKPEK,BJSNYC,CNUS,1,JFKPEK,MK,H,Y,2013-03-26 16:50:00,2013-03-27 18:32:27,1,2013,3,NULL
5623,2013-03-27 00:00:00,1A,RU,4efbb41b0ec404a9c59e0283eb7f118a,8f76520db6a5a0a23049a014febfce10,2c215fd0416b383d9f55968f8301e1d4,2013-03-27 00:00:00,840,0,LED,LED,RU,SVO,MOW,RU,LED,LED,RU,LED,LED,RU,SVO,MOW,RU,LEDSVO,LEDMOW,RURU,0,LEDSVO,DF,H,Y,2013-03-28 08:55:00,2013-03-28 10:25:16,1,2013,3,NULL
7104,2013-03-11 00:00:00,1A,PE,48945826843ab0df4f05d161906688e4,4cd8ec7e1c93f7c443b9c85b2cd875ce,792e9cb68da605dde6e191d54063c94d,2013-03-11 00:00:00,2967,0,LIM,LIM,PE,AQP,AQP,PE,LIM,LIM,PE,AQP,AQP,PE,LIM,LIM,PE,AQPLIM,AQPLIM,PEPE,0,AQPLIM,VK,S,Y,2013-03-26 18:30:00,2013-03-26 20:12:00,1,2013,3,NULL

In [43]:
#Vemos los tipos de las columns
b.dtypes

act_date               object
source                 object
pos_ctry               object
pos_iata               object
pos_oid                object
rloc                   object
cre_date               object
duration                int64
distance                int64
dep_port               object
dep_city               object
dep_ctry               object
arr_port               object
arr_city               object
arr_ctry               object
lst_port               object
lst_city               object
lst_ctry               object
brd_port               object
brd_city               object
brd_ctry               object
off_port               object
off_city               object
off_ctry               object
mkt_port               object
mkt_city               object
mkt_ctry               object
intl                    int64
route                  object
carrier                object
bkg_class              object
cab_class              object
brd_time               object
off_time               object
pax                     int64
year                    int64
month                   int64
oid                    object
dtype: object

In [44]:
b.describe()

            duration      distance         intl          pax    year   month
count    9999.000000   9999.000000  9999.000000  9999.000000  9999.0  9999.0
mean    20209.746075    455.608861     0.596260     0.516152  2013.0     3.0
std     42243.233482   1738.891068     0.490671     1.783970     0.0     0.0
min        59.000000      0.000000     0.000000   -25.000000  2013.0     3.0
25%      3339.000000      0.000000     0.000000    -1.000000  2013.0     3.0
50%      7721.000000      0.000000     1.000000     1.000000  2013.0     3.0
75%     19077.000000      0.000000     1.000000     1.000000  2013.0     3.0
max    488131.000000  18481.000000     1.000000    25.000000  2013.0     3.0

In [45]:
#para ver si tenemos nulls
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [47]:
! bzcat ./bookings.sample.csv.bz2 | head -2

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae953c8acfb187a1af2dcbe123^1a11ae49fcbf545fd2afc1a24d88d2b7^ea65900e72d71f4626378e2ebd298267^2013-02-22 00:00:00^1708^0^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHRZRH  ^LONZRH  ^CHGB    ^1^LHRZRH         ^VI^T        ^Y        ^2013-03-07 08:50:00^2013-03-07 11:33:37^-1^2013^3^NULL

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ./bookings.sample.csv.bz2, output file = (stdout)

In [48]:
b.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [49]:
#vemos q hay columnas con espacios en blanco
list(b.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [ ]:
#arreglamos el fichero pero no en el original si no que en lo que vamos a tratar pero lo haremos mas tarde

## 2) Select the columns of interest

In [ ]:
#las columnas q nos interesan son:

In [50]:
import pandas as pd
b= pd.read_csv('bookings.sample.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'])

In [51]:
b.sample(5)

      arr_port  pax  year
6522  MSY         1  2013
4728  ORD        -1  2013
8511  SEA         2  2013
7154  BGO         1  2013
1086  ANC        -1  2013

## 3) What do we do with NaN?

In [52]:
#si tenemos algun dato que nos falta eliminanos las filas q tienen nulls
b=b.dropna()

In [53]:
b.sample(5)

      arr_port  pax  year
8455  STS        -2  2013
7727  PVG         1  2013
8401  YYZ         1  2013
6837  DEL         1  2013
2779  DUB        -1  2013

## 4) make action plan

0) filter 2013
1) group by airpot
2) sum
3) sort by pax ascending false
4) top10

In [67]:
year_2013=b[b.year == 2013][['arr_port','pax']]
max_airports = year_2013.groupby('arr_port').sum().sort_values('pax',ascending=False).head(10)
max_airports

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

In [68]:
#como el fichero original es muy grande una opcion es usar iteradores
import pandas as pd
b_iter = pd.read_csv('bookings.sample.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], iterator=True)

In [69]:
type(b)

pandas.core.frame.DataFrame

In [70]:
type(b_iter)

pandas.io.parsers.TextFileReader

In [71]:
#Pedimos 3000 lineas al fichero solo
b_chunk = b_iter.get_chunk(3000)

In [72]:
len(b_chunk)

3000

In [73]:
type(b_chunk)

pandas.core.frame.DataFrame

In [74]:
#Con esto ya tenemos un dataframe con la longitud q le hemos pedido ya no es de tipo TextFileREader
b_chunk = b_iter.get_chunk(300000)

In [75]:
#si pedimos mas lineas de las que tiene no pasa nada. Devuelve todas las lineas y ya esta

In [76]:
b_chunk = b_iter.get_chunk(1)
#como ya hemos llegado al final si ahora pedimos una linea, d aun error porque ya estamos en el final

StopIteration:

In [77]:
b_iter = pd.read_csv('bookings.sample.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], chunksize=10)
#con esto nos devuelve directamnete un dataframe con el numero de lineas que le hemos pedido

In [79]:
#podemos ir iterando sobre cada chunk y asi obtendremos todo el fichero para poder ir haciendo lo que queremos con el
for i, b_chunk in enumerate(b_iter):
  print(b_chunk.head(5))
  print('..............')
  if i==3:
    break

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013
..............
    arr_port  pax  year
10  SIN         2  2013
11  SIN        -2  2013
12  SIN        -2  2013
13  SIN        -2  2013
14  SIN        -2  2013
..............
    arr_port  pax  year
20  CTA        -2  2013
21  CTA         2  2013
22  YWG         2  2013
23  YWG         2  2013
24  YWG        -2  2013
..............
    arr_port  pax  year
30  PVG         2  2013
31  PVG         2  2013
32  PVG         2  2013
33  SGC         1  2013
34  ALG         1  2013
..............

In [110]:
#vamos a recorrrer todo el fichero y calcularlo sobre el total de trocito en trocito
import pandas as pd
b_iter = pd.read_csv('bookings.sample.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], chunksize=3000)
all_chunks=pd.DataFrame()
for i, b_chunk in enumerate(b_iter):
    print(i)
    b=b_chunk.dropna()
    year_2013=b[b.year == 2013][['arr_port','pax']]
    b = year_2013.groupby('arr_port').sum()
    all_chunks=all_chunks.append(b)
all_chunks.reset_index()
all_chunks.groupby('arr_port').sum().sort_values('pax',ascending=False).head(10)
#en teoria append es mas rapido q concat

0
1
2
3

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

In [84]:
all_chunks.shape

(1344, 1)

In [85]:
all_chunks.head()

          pax
arr_port
ABQ         2
ACC         0
ADD         4
AEP         3
AER         1

In [86]:
#con reset index cogemos todos los indices y los reseteamos 
#ya que al ser de dataframes diferentes tienen el indice no consecutivo
all_chunks.reset_index().head()

   arr_port  pax
0  ABQ         2
1  ACC         0
2  ADD         4
3  AEP         3
4  AER         1

In [92]:
import neobase as nb

In [93]:
dir(nb)
#nos dice todos los atributos de la libreria

['LatLng',
 'NeoBase',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'neobase']

In [95]:
help(nb)

Help on package neobase:

NAME
    neobase - # -*- coding: utf-8 -*-

PACKAGE CONTENTS
    __main__
    neobase

FILE
    /Users/elenatajadura/opt/anaconda3/lib/python3.7/site-packages/neobase/__init__.py

In [97]:
from neobase import NeoBase

In [98]:
help(NeoBase)

Help on class NeoBase in module neobase.neobase:

class NeoBase(builtins.object)
 |  NeoBase(rows=None, date=None)
 |
 |  Main structure, a wrapper around a dict, with dict-like behavior.
 |
 |  Methods defined here:
 |
 |  __contains__(self, key)
 |      Test if a key is in the base.
 |
 |      :param key: the key of to be tested
 |      :returns:   a boolean
 |
 |      >>> b = NeoBase()
 |      >>> 'AN' in b
 |      False
 |      >>> 'AGN' in b
 |      True
 |
 |  __init__(self, rows=None, date=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b)
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  __len__(self)
 |      Testing structure size.
 |
 |      :returns: a integer
 |
 |      >>> b = NeoBase()
 |      >>> 18000 < len(b) < 20000
 |      True
 |
 |  __nonzero__(self)
 |      Testing structure emptiness.
 |
 |      :returns: a boolean
 |
 |      >>> b = NeoBase()
 |      >>> if b:
 |      ...     print('not empty')
 |      not empty
 |
 |  distance(self, key_0, key_1)
 |      Compute distance between two elements.
 |
 |      This is just a wrapper between the original haversine
 |      function, but it is probably the most used feature :)
 |
 |      :param key_0: the first key
 |      :param key_1: the second key
 |      :returns:    the distance (km)
 |
 |      >>> b = NeoBase()
 |      >>> b.distance('ORY', 'CDG')
 |      34.87...
 |
 |  find_closest_from_location(self, lat_lng, N=1, from_keys=None)
 |      Concept close to find_near_location, but here we do not
 |      look for the keys radius-close to a location,
 |      we look for the closest key from this location, given by
 |      latitude/longitude.
 |
 |      Note that a similar implementation is done in
 |      the LocalHelper, to find efficiently N closest location
 |      in a graph, from a location (using heaps).
 |
 |      :param lat_lng:   the lat_lng of the location
 |      :param N:         the N closest results wanted
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform find_closest_from_location. This is useful to combine             searches
 |      :returns:   one key (like 'SFO'), or a list if approximate is not None
 |
 |      >>> b = NeoBase()
 |      >>> list(b.find_closest_from_location((43.70, 7.26))) # Nice
 |      [(0.60..., 'NCE@1')]
 |      >>> list(b.find_closest_from_location((43.70, 7.26), N=3)) # Nice
 |      [(0.60..., 'NCE@1'), (5.82..., 'NCE'), (5.89..., 'XBM')]
 |
 |  find_near(self, key, radius=50, from_keys=None)
 |      Same as find_near_location, except the location is given
 |      not by a lat/lng, but with its key, like ORY or SFO.
 |      We just look up in the base to retrieve lat/lng, and
 |      call find_near_location.
 |
 |      :param key:     the key of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       a list of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.find_near('ORY', 10)) # Orly, por <= 10km
 |      [(0.0, 'ORY'), (6.94..., 'XJY'), (9.96..., 'QFC')]
 |
 |  find_near_location(self, lat_lng, radius=50, from_keys=None)
 |      Returns a list of nearby keys from a location (given
 |      latidude and longitude), and a radius for the search.
 |      Note that the haversine function, which compute distance
 |      at the surface of a sphere, here returns kilometers,
 |      so the radius should be in kms.
 |
 |      :param lat_lng: the lat_lng of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       an iterable of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> # Paris, airports <= 50km
 |      >>> [b.get(k, 'iata_code') for d, k in sorted(b.find_near_location((48.84, 2.367), 5))]
 |      ['PAR', 'XGB', 'XHP', 'XPG', 'XEX']
 |
 |  find_with(self, conditions, from_keys=None, reverse=False)
 |      Get iterator of all keys with particular field.
 |
 |      For example, if you want to know all airports in Paris.
 |
 |      :param conditions: a list of (field, value) conditions
 |      :param reverse:    we look keys where the field is *not* the particular value
 |      :returns:          an iterator of matching keys
 |
 |      Testing several conditions.
 |
 |      >>> b = NeoBase()
 |      >>> c0 = [('city_code_list', ['PAR'])]
 |      >>> c1 = [('location_type', ['H'])]
 |      >>> len(list(b.find_with(c0)))
 |      16
 |      >>> len(list(b.find_with(c0 + c1)))
 |      2
 |
 |  get(self, key, field=None, default=<object object at 0x7faa68999d00>)
 |      Get data from structure.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('OR', 'city_code_list', default=None)
 |      >>> b.get('ORY', 'city_code_list')
 |      ['PAR']
 |
 |  get_location(self, key, default=<object object at 0x7faa68999d00>)
 |      Get None or the geocode.
 |
 |      >>> b = NeoBase()
 |      >>> b.get_location('ORY')
 |      LatLng(lat=48.72..., lng=2.35...)
 |
 |  keys(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.keys())
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  set(self, key, **data)
 |      Set information.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('ORY', 'name')
 |      'Paris Orly Airport'
 |      >>> b.set('ORY', name='test')
 |      >>> b.get('ORY', 'name')
 |      'test'
 |      >>> b.set('Wow!', name='test')
 |      >>> b.get('Wow!', 'name')
 |      'test'
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  load(f, date) from builtins.type
 |      Building a dictionary of geographical data from optd_por.
 |
 |      >>> path = op.join(op.dirname(__file__), 'optd_por_public.csv')
 |      >>> with open_(path) as f:
 |      ...     b = NeoBase.load(f, '2030-01-01')
 |      >>> b['ORY']['city_code_list']
 |      ['PAR']
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  distance_between_locations(l0, l1)
 |      Great circle distance
 |
 |      :param l0: the LatLng tuple of the first location
 |      :param l1: the LatLng tuple of the second location
 |      :returns:  the distance in kilometers
 |
 |      >>> NeoBase.distance_between_locations((48.84, 2.367), (43.70, 7.26)) # Paris -> Nice
 |      683.85...
 |
 |      Case of unknown location.
 |
 |      >>> NeoBase.distance_between_locations(None, (43.70, 7.26)) # returns None
 |
 |  skip(row, date)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DUPLICATES = True
 |
 |  FIELDS = (('iata_code', 0, None), ('name', 6, None), ('lat', 8, None),...
 |
 |  KEY = 0

In [99]:
geoDict = NeoBase()

In [100]:
type(geoDict)

neobase.neobase.NeoBase

In [107]:
geoDict.get('LHR')['name']

'London Heathrow Airport'

In [138]:
#para el bonus hacemos lo siguiente

#vamos a recorrrer todo el fichero y calcularlo sobre el total de trocito en trocito
import pandas as pd
#b_iter = pd.read_csv('bookings.sample.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], chunksize=3000)
b_iter = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port', 'pax', 'year'], chunksize=1000000)
all_chunks=pd.DataFrame()
for i, b_chunk in enumerate(b_iter):
    print(i)
    b=b_chunk.dropna()
    year_2013=b[b.year == 2013][['arr_port','pax']]
    b = year_2013.groupby('arr_port').sum()
    all_chunks=all_chunks.append(b)
all_chunks=all_chunks.groupby('arr_port').sum().sort_values('pax',ascending=False).reset_index()
all_chunks['arr_port']=all_chunks['arr_port'].str.strip()
#all_chunks['AirportName']=all_chunks['arr_port'].map(lambda x: geoDict.get(x,'name'))
total=all_chunks.head(10)
total['AirportName']=total['arr_port'].map(lambda x: geoDict.get(x,'name'))
#en teoria append es mas rapido q concat

0
1
2
3
4
5
6
7
8
9
10

/Users/elenatajadura/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [139]:
total

  arr_port      pax                            AirportName
0      LHR  88809.0                London Heathrow Airport
1      MCO  70930.0          Orlando International Airport
2      LAX  70530.0      Los Angeles International Airport
3      LAS  69630.0         McCarran International Airport
4      JFK  66270.0  John F. Kennedy International Airport
5      CDG  64490.0        Paris Charles de Gaulle Airport
6      BKK  59460.0                   Suvarnabhumi Airport
7      MIA  58150.0            Miami International Airport
8      SFO  58000.0    San Francisco International Airport
9      DXB  55590.0            Dubai International Airport

In [140]:
geoDict.get(all_chunks.arr_port[0],'name')

'London Heathrow Airport'

In [141]:
#all_chunks['AirportName']=all_chunks['arr_port'].map(lambda x: geoDict.get(x,'name'))

In [142]:
all_chunks=all_chunks.astype({'pax':int})

In [143]:
all_chunks.head()

  arr_port    pax
0      LHR  88809
1      MCO  70930
2      LAX  70530
3      LAS  69630
4      JFK  66270

In [144]:
total=total.astype({'pax':int})

In [145]:
total.to_csv('top_airports.csv', sep='^', index=False)

In [146]:
!head ./top_airports.csv

arr_port^pax^AirportName
LHR^88809^London Heathrow Airport
MCO^70930^Orlando International Airport
LAX^70530^Los Angeles International Airport
LAS^69630^McCarran International Airport
JFK^66270^John F. Kennedy International Airport
CDG^64490^Paris Charles de Gaulle Airport
BKK^59460^Suvarnabhumi Airport
MIA^58150^Miami International Airport
SFO^58000^San Francisco International Airport

## Web service

http://flask.pocoo.org/docs/0.10/quickstart/

In [148]:
from flask import Flask

In [ ]:
app = Flask("My first web service")
@app.route('/hello', methods=['GET'])
def get_hello():
    return "Hello DS from the service!"
@app.route('/ret_number/<int:n>', methods=['GET'])
def get_number(n):
    return "I will return you a number. It was %d" % n
@app.route('/airports', methods=['GET'])
def get_airports():
    return total.to_json()

In [ ]:
app.run()

In [ ]:
 http://127.0.0.1:5000/hello

In [ ]:
@app.route('/airports', methods=['GET'])
def get_airports():
    return total.to_json(orient='index')

In [ ]:
app.run()